<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICosmos" />
                <binding name="BasicHttpBinding_IFirstOrder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CosmicAdventure/Cosmos/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICosmos"
                contract="CosmosReference.ICosmos" name="BasicHttpBinding_ICosmos" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CosmicAdventure2/FirstOrder"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirstOrder"
                contract="FirstOrderReference.IFirstOrder" name="BasicHttpBinding_IFirstOrder" />
        </client>
    </system.serviceModel>
</configuration>